.git
.idea
.vs
.vscode
.venv
**/.venv
__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache
node_modules
**/node_modules
dist
**/dist
bin
**/bin
obj
**/obj
collector/.idea
collector/.venv
collector/.pytest_cache
collector/stock_collector.egg-info
web/node_modules
web/dist
